<div class="messages-scrolling-container">
  <h3>This is the heading for the message</h3>
  <p>This is where the messages are dynamically generated from the people that made the messages.</p>
  <h4>Many thanks,</h4>
  <p>This is where the names are generated</p>
</div>