<div class="row bgpara">
  <div class="wrapper ">
    <div class="para-box">
      <h1>Vote on Gender! Leave us a Message!</h1>
      <p>After making this little site, we decided that it would be fun to have people vote. You can vote for what you <em>want</em> the gender to be, or vote what you <em>think</em> the gender will be. The votes probably won't have any influence on the gender, but you never know!</p>
      <p>Another cool thing we would love to see are your messages. If you leave messages to Kelly and I, we'll be able to pull them up and look through them all. Everyone else will be able to get a hold of them as well, though, so nothing too crazy! But, if you want to put a little sass into the message, feel free.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="wrapper">
      <%= render 'form' %>
  </div>
</div>