body {
  width: 100%;
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.expandable {
  margin-bottom: 2.5em;
}

.party {
  margin-top: 2em;

  table {
    width: 100%;
    border: 1px solid $mdcoral;

    tr:nth-child(odd) {
      background: $ltcoral;
    }

    td {
      border: 1px solid $coral;

      p {
        padding: .5em 10% .5em 5%;
        margin: 0;
      }
      
      a {
        color: $blue;
      }
    }
  }
}

a.big-button {
  padding: 1.5em;
  font-size: 150%;
  margin: 1em auto;
  width: auto;
  max-width: 50%;
  border: 5px solid $coral;
  display: block;
  background: white;
  text-align: center;

  @media screen and (min-width: 800px) {
    &:hover {
      background: $ltcoral;
    }
  }
}

.row.blue {
  padding: 3em 0;
  background: $ltblue;
  text-align: center;

  h3 {
    color: white;
  }

  p {
    color: white;
  }

  a {
    color: $blue;
  }
}
