.row.bgpara {
  padding: 10vh 0;
  background-image: image-url("chevron-bg.jpg");
  background-repeat: repeat;
  background-position: center;
  background-attachment: fixed;

  .wrapper {
    .para-box {
      background: white;
      padding: 5%;
      width: 90%;
      margin: auto;
    }

    h1 {
      margin-top: 0;
      color: $blue;
    }
  }
}

@media screen and (max-width: 550px) {
  .row.bgpara {
    .wrapper {
      padding: 5% 0;
      .para-box {
        width: 85%;
        padding: 5%;
      }
    }
  }
}
