@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .all-the-votes .overlay-hover,
  .all-the-votes .all-the-votes-skew-right {
    left: 38vw;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1599px) {
  .all-the-votes .overlay-hover,
  .all-the-votes .all-the-votes-skew-right {
    left: 40vw;
  }
}

@media screen and (min-width: 1600px) {
  .all-the-votes .overlay-hover,
  .all-the-votes .all-the-votes-skew-right {
    left: 41vw;
  }
}