<div class="all-the-votes">
  <div class="overlay-hover"></div>
  <div class="votes boy-votes-wrapper">
    <div class="votes-container">
      <h3>Boy Votes</h3>
      <p><%= boy_count %></p>
    </div>
  </div>
  <div class="votes girl-votes-wrapper">
    <div class="votes-container">
      <h3>Girl Votes</h3>
      <p><%= girl_count %></p>
    </div>
  </div>
  <div class="all-the-votes-skew-right"></div>
</div>