<div class="all-the-votes">
  <div class="all-the-votes-skew-right"></div>
  <div class="boy-votes-wrapper">
    <h3>Boy Votes</h3>
    <%= boy_count %>
  </div>
  <div class="girl-votes-wrapper">
    <h3>Girl Votes</h3>
    <%= girl_count %>
  </div>
</div>