<div class="row bgpara">
  <div class="wrapper ">
    <div class="para-box">
      <h1>Kelly and Jim are having a baby!</h1>
      <p>That's right, folks. It looks like Kelly and Jim are having a baby. Come this November(ish), the J & K duo will be a trio. We have it on good authority that it won't be a quartet, which is alright by us. We don't know the gender yet and we don't know the name yet, but we'll let you know when we do.</p>
      <p>We started by building this web app to keep track of the baby shower. Then we decided it was a little boring. So, we decided to add in some fun stuff. You can vote for the gender after you RSVP and you can leave us some messages too. You can watch the gender votes go up or down and see other people's messages too. Hopefully you enjoy it all! But most of all, please take the time to RSVP. Once you do, all the information you'll need will be right at your fingertips.</p>
    </div>
  </div>
</div>

<div class="row votes-row">
  <%= render 'partials/vote' %>
</div>

<div class="row">
  <%= render 'guests/scroll' %>
</div>    