<div class="row bgpara">
  <div class="wrapper ">
    <div class="para-box">
      <h1>Party Time!</h1>
      <p>Excellent! We're going to have a couple parties. The info for each is below.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="wrapper">
    <div class="expandable party">
      <h3>Merritt Party</h3>
      <table cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td>
            <p><strong>Hosted By:</strong></p>
          </td>
          <td>
            <p>A Bunch of Merritts</p>
          </td>
        </tr>
        <tr>
          <td>
            <p><strong>Day:</strong></p>
          </td>
          <td>
            <p>September, ?? 2015</p>
          </td>
        </tr>
        <tr>
          <td>
            <p><strong>Time:</strong></p>
          </td>
          <td>
            <p>10:00p.m. - 10:00p.m.</p>
          </td>
        </tr>
        <tr>
          <td>
            <p><strong>Where:</strong></p>
          </td>
          <td>
            <p>Rocky Pass, Cincinnati OH 45069</p>
          </td>
        </tr>
      </table>      
    </div>
    <div class="expandable party">
      <h3>Niestradt Party</h3>
      <table>
        <tr>
          <td>
            <p><strong>Hosted By:</strong></p>
          </td>
          <td>
            <p>Gayle Niestradt & Jill Schlemmer</p>
          </td>
        </tr>
        <tr>
          <td>
            <p><strong>Day:</strong></p>
          </td>
          <td>
            <p>September, 26 2015</p>
          </td>
        </tr>        
        <tr>
          <td>
            <p><strong>Time:</strong></p>
          </td>
          <td>
            <p>3:00p.m. - 6:00p.m.</p>
          </td>
        </tr>
        <tr>
          <td>
            <p><strong>Where:</strong></p>
          </td>
          <td>
            <p>711 Huntersknoll, Cincinnati OH 45230</p>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>