<div class="row">
  <div class="wrapper">
    <h1>Registry Specifics</h1>
    <p>This is where we will put those registry specifics.</p>
    <%= link_to "Registry", "http://babylistregistry.com/kelly-and-jim-merritt", target: "blank" %>
  </div>
</div>

<div class="row">
  <div class="wrapper">
    <h2>FAQ's From Babylist</h2>
    
    <div class="expandable">
    <h3>How do I select and purchase a gift?</h3>
      <p>BabyList is a baby registry wish list. We list suggested stores for each item, but you can buy your gift somewhere else if it is more convenient.</p>
      <ol>
        <li>Choose the item you wish to buy.</li>
        <li>Click "View This Gift" next to the item. Enter your name and email address to confirm your gift selection and click on the "I Want to Get This" button. Once an item is selected it means that no one else will buy it. (We’ll email you a confirmation email for you to access your selections later, if needed. Check your spam folder if you don’t see it.)</li>
        <li>Now it's time to purchase that gift. You can purchase the gift from wherever it's most convenient for you - online or in-person. If you'd like to purchase the gift from the suggested retailer, click on the link next to the item.</li>
        <li>After you complete your purchase, check "Mark this item as purchased" next to that item. Then you can enter the retailer where you purchased your gift and the order number (if bought online). This makes any necessary exchanges much easier on the new parent(s).</li>
      </ol>
    </div>
    
    <div class="expandable">
      <h3> How do I cancel a gift selection?</h3>
      <p>If for any reason you can’t purchase an item you selected, follow the "Update or cancel your reservation" link in your confirmation email. Then click the "Unreserve" button. This will let someone else purchase that item. If you didn't receive your confirmation email, check your spam folder. And if you can’t find it, <%= link_to "contact babylist", "http://babyli.st/contact-us", target: "blank" %> and we'll look it up for you.</p>
    
    </div>
  </div>
</div>