.votes-row {
  height: 40vh;
}

.all-the-votes {
  width: 100%;
  height: 40vh;
  position: absolute;
  overflow: hidden;
  background: blue;
  text-align: center;
}

.all-the-votes-skew-right {
  @include transition_timing;
  min-width: 200vw;
  min-height: 200vh;
  position: absolute;
  left: 40vw;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
  background: pink;
  z-index: 50;
}

.boy-votes-wrapper,
.girl-votes-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  width: 40%;
  padding: 5%;
  z-index: 100;
}

.boy-votes-wrapper {
  left: 0;
  &:hover .all-the-votes-skew-right {
    @include transition_timing;
    left: 55vw;
    -webkit-transform: rotate(22deg);
    -ms-transform: rotate(22deg);
    transform: rotate(22deg);
    cursor: pointer;
  }
}

.girl-votes-wrapper {
  left: 50%;
  &:hover .all-the-votes-skew-right {
    @include transition_timing;
    left: 45vw;
    -webkit-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    transform: rotate(7deg);
    cursor: pointer;
  }
}