/* Greys */
$grey: rgb(116, 117, 117);
$ltgrey: (233, 230, 230);


/* Blues */
$blue: rgb(17, 57, 94);
$mdblue: rgb(29, 103, 168);
$ltblue: rgb(83, 146, 206);

/* Corals */
$coral: rgb(246, 145, 124);
$mdcoral: rgb(249, 177, 164);
$ltcoral: rgb(252, 214, 207);

$hover-bg: rgb(160, 160, 160);
$heading: "ff-kava-web-pro", sans-serif;
$body: "proxima-nova", sans-serif;