<div class="header">
  <div class="wrapper">
    <div class="logo">
      <%= link_to "home", root_path %>
    </div>
    <nav>
      <ul>
        <li><%= link_to "Help", welcome_questions_path %></li>
      </ul>
    </nav>
  </div>
</div>